a {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 1920px;
    height: 1280px;
    background: url(../img/pexels-mikhail-nilov-7662473.jpg);
    background-color: grey;
    background-blend-mode: multiply;
}

#containerHeader{
    margin: 0 385px;
}

nav {
    display: flex;
    justify-content: space-between;
}

#lienP {
    display: flex;
    align-items: center ;
}

#lienP a {
    color: white;
    text-decoration: none;
}

#lienNav {
    display: flex;
}

#lienNav ul {
    display: flex;   
    list-style: none;
}

#lienNav ul li {
    margin: 0 10px;
}

#lienNav ul li a {
    color: white;
    text-decoration: none;
}

.aBold {
    font-weight:700;
}