body {
    margin: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}


/*--------------------- HEADER---------------------------- */

header {
    width: 100%;
    height: 930px;
    background-image:
    linear-gradient(to right, rgba(107, 0, 70, 0.8), rgba(0, 0, 0, 0.40)),
    url('../img/pexels-mikhail-nilov-7662473.jpg');
    background-size: 100%;
}

#containerHeader{
    margin: 0 355px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

#lienP {
    display: flex;
    align-items: center ;
}

#lienP a {
    color: white;
    text-decoration: none;
}

#lienNav {
    display: flex;
}

#lienNav ul {
    display: flex;   
    list-style: none;
}

#lienNav ul li {
    margin: 0 10px;
}

#lienNav ul li a {
    color: white;
    text-decoration: none;
}

.aBold {
    font-weight:700;
}

#lienNav button {
    background-color: rgb(177, 23, 105);
    border-width: 0;
    border-radius: 2px;
    color: white;
    margin: 5px 30px;
    padding: 0 20px;
}

#titreHeader {
    color: white;
}

#titreHeader h1 {
    font-size: 130px;
    margin: 0;
}

#showreel {
    margin-top: 40px;
}

#showreel a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 2px;
    margin-left: 20px;
}

#showreel i {
    padding: 18px 20px;
    border: 1px solid white;
    border-radius: 50px;
}

#social {
    display: flex;
    justify-content: end;
    color: white;

    margin-bottom: 30px;
}

#social a {
    color: white;
}

#social i {
    font-size: 15px;
    margin: 10px;
    padding: 12px 10px 10px 10px;
    background-color: rgba(98, 98, 98, 0.5);
    border-radius: 30px;
}

/*----------------------SECTION1----------------------*/
#sect1{
    background-color: rgb(237, 237, 237);
    position: absolute;
    width: 100%;
}
.para-sect1{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: x-large;

    
}
.grille-img{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    height: 300px;
    
}
.img1-sect1{
    object-fit: cover;
}
.img2-sect1{
    object-fit: cover;
    margin-top: 5px;
    padding-bottom: 5px;
}

.img2-3-sect1{
    display: flex;
    flex-direction: column;
    height: 500px;
    object-fit: cover;
}
.para-gallery{
    background-color: bisque;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 727px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: x-large;
}

/*--------------------SECTION2--------------------*/
.titre-sect2{
    display: flex;
    justify-content: center;
}
.cards-sect2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.img1-sect2{
    height: 300px;
    padding-right: 50px;
}
.img2-sect2{
    height: 300px;
}
.img3-sect2{
    height: 300px;
    padding-right: 50px;
}
.img4-sect2{
    height: 300px;

}
.ss-titre-sect2{
    padding-right: 30px;
}
.marge{
    margin: auto;
    width: 200px;
    height: 5px;
    
}

/*------------------------ SECTION3------------------------- */
/* -----FORMES---- */
#sect3 {
    height: 1000px;
    display: flex;
    justify-content: center;
}

#rectBlue {
    width: 100%;
    height: 800px;
    background-color: rgb(11, 0, 53);
    position: absolute;
    top: 0;
    z-index: -1;
}

#petitCercle {
    position: absolute;
    left: 200px;
    top: 50px;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(249, 235, 225, 0.3);
    border-radius: 40px;
}

#dotRect2 {
    background-image: radial-gradient(rgba(249, 235, 225, 0.3) 25%, rgba(0,0,0,0)25%);
    background-position: 0 0;
    background-size: 18px 18px;
    height: 220px;
    width: 300px;
    position: absolute;
    right: 100px;
    top: 60px;
}

#pinkCircle{
    position: absolute;
    top: 250px;
    right: 200px;
    background-color: rgb(177, 23, 105);
    border-radius: 150px;
    color: white;
    z-index: 1;
    height: 150px;
    width: 150px;
}

#pinkCircle i {
    color: white;
    font-size: 70px;
    margin: 40px 0 0 30px;
}
/* ----Texte et image ------ */
#contTextImg {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    width: 70%;
    height: 726px;
}

#text-sect3 {
    background-color: white;
    padding: 80px 80px;
    position: relative;
}

.textFlex {
    display: flex;
    margin: 50px 0;
}

.numText {
    font-size: 70px;
    padding-top: 10px;
    margin: 0 50px 0 0;
}

.textPadding {
    padding-right: 150px;
}

#dotRect1 {
    background-image: radial-gradient(#f9ebe1 25%, rgba(0,0,0,0)25%);
    background-position: 0 0;
    background-size: 18px 18px;
    height: 220px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 60px;
}

#rectNorm {
    height: 375px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 350px;
    background-color: #f9ebe1;
}

#img-sect3 {
    height: 100%;
    width: 70%;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(107, 0, 70, 0.7), rgba(15, 0, 113, 0.5)),
    url('../img/pexels-shahin-kh-4016173-pwtucbalbrq8tmu73im1tf9whod7m3t6qpqi9ceajg.jpg');
}

/* SECTION RELATIVE */

#sect1 {
    position: relative;
    height: 1200px;
}

.section2 {
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
}

#sect3 {
    position: relative;
}



/*-----------------------------SECTION4---------------------------*/
.cards-section4{
    display: flex;
    justify-content: center;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 30px;
}
.images2-sect4{
    height: 250px;
    padding-right: 30px;
}
.images1-sect4{
    height: 250px;
    padding-right: 30px;
}
.images3-sect4{
    height: 250px;
    padding-right: 30px;
}
.image4-sect4{
    height: 250px;
    width: 250px;
    padding-right:30px;
}
.para-sect4{
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}
.titre-sect4{
    display: flex;
    justify-content: center;
}
.marge-sect4{
    margin-left: 640px;
    width: 150px;
}